.componet {
	width: 100%;
	height: 300px;
	position: relative;
	align: center;
}

.top span {
	font-size: 12px;
	line-height: 20px;
	color: black;
}

.top_bar {
	display: inline;
}

.top_bar li {
	display: inline-block;
}

.top_bar li {
	float: right;
	padding-right: 20px;
}

a {
	text-decoration: none;
}

.category:hover {
	color: white;
}

.category {
	border: none;
	outline: none;
}

.btn btn-default {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}

.panel panel-default {
	border: 10px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 300px;
}

.table-wrap {
	width: 1200px;
}

table, th, tr, td {
	border: 1px solid #bcbcbc;
	table-layout: fixed;
	border-color: gray;
}

.fixed_top {
	display: inline-table;
	position: absolute;
	top: 0;
	width: calc(100% - 15px);
	background: #2B2E7E;
	color: white;
}

.modalfixed_top {
	top: 88px;
	display: inline-table;
	position: fixed;
	width: calc(100% - 48px);
	background: #2B2E7E;
	color: white;
}

button {
	font-size: 14px;
}

.tb_box {
	max-height: 300px;
	overflow-y: scroll;
	padding-top: 28px;
}

.table-wrap td:last-child {
	bottom: 0;
}

.table-condensed {
	table-layout: fixed;
}

.table-box-wrap .table-box table thead tr th {
	font-weight: normal;
	width: 120px;
	height: 40px;
	background: darksalmon;
	background-color: #2B2E7E;
}

.searchclass {
	align-content: center;
	width: 80%;
	margin-top: 3%;
	margin-left: 10%;
	padding: 3%;
	background-color: white;
	display: block;
	box-shadow: 3px 3px 3px 3px #999;
}

.tab {
	white-space: pre-wrap;
}

body {
	padding: 0px;
	margin: 0 auto;
}

tr.highlighted td {
	background: white;
}

.highlight {
	background-color: red;
}

.table-condensed tbody tr td:visited {
	color: graytext;
}

.table-condensed tbody tr:hover td, .table tbody tr:hover th {
	background-color: #eeeeea;
}

#popbutton {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

#jb-container {
	border: 1px solid #bcbcbc;
}

.jb-header {
	display: inline-block;
	border: 1px solid #bcbcbc;
}

#jb-content {
	width: 100%;
	height: 40px;
}

#jb-content1 {
	margin-top: 4%;
	width: 100%;
	height: 40px;
}

#jb-sidebar {
	display: inline-block;
}

.box {
	border: 0;
	background: white;
}

.box:focus {
	border: 0;
	outline: none;
}

.box:focus {
	outline: none;
}

input:focus {
	outline: none;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder {
	color: transparent;
}

input:focus::-ms-input-placeholder {
	color: transparent;
}

.clientAdd {
	width: 100px;
	display: inline-block;
}

.add {
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom-color: #A6B1E1;
	font-size: 10pt;
	width: 150px;
	font-family: "Nanum Gothic", sans-serif;
}

#if {
	width: 0px;
	height: 0px;
	border: 0px;
}

.modals {
	background-color: #ffffff;
	cursor: pointer;
}

#wrapper {
	
}

.mouseenter {
	background: #50BCDF;
}

.mouseleave {
	background: white;
}

.selected {
	background: #eeeeea;
}