.searchclass{ /*�˻�â �� ��� */
	align-content: center;
	 margin: 80px;
	 padding:70px;
	 width: 1350px;
	 height: 500px;
	 border-radius: 10%;
	 background-color : white;
	 display : block;
	box-shadow : 3px 3px 3px 3px #999;
 
}

.add{ /*���� �� ���� css*/
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom-color: #A6B1E1;
	font-size: 10pt;
	width: 180px;
	font-family: "Nanum Gothic", sans-serif;
}
/*text Ŭ���� */
input:focus {outline:none;} 

#address1{ /*�����ּ�*/
	width: 130px;
}

.list{/*�ŷ�ó�� ����Ʈ*/
padding-left: 30px;
float: left;
padding: 10px 30px;
}
table thead{
	background-color : #2B2E7E;
	color : white;
}

#searchbtn{
	padding: 3px 10px;
}
/*------*/
.addclass{ /*�˻�â �� ��� */

 margin: 80px;
 padding:70px;
 width: 1350px;
 height: 500px;
 border-radius: 10%;
 background-color : white;
 display : block;
 box-shadow : 3px 3px 3px 3px #999;
 
}
/*------
body{
	background-color : #A6B1E1;
}

form{
	margin : 100px;
	background-color : white;
	padding : 90px;
	border-radius : 10%;
	display : block;
	box-shadow : 3px 3px 3px 3px #999;
}

table thead{
	background-color : #2B2E7E;
	color : white;
}
*/