@charset "UTF-8";
.extendHeight{
    height:90%;
}
.quickMenu{
    position:absolute;
    left:15%;
    top : 130px;
    width:70%;
    background-color:white;
    border:3px;
    padding:20px;
}
.quickMenu table{
    width:100%;
    height:70%;
    border:0;
}
.quickMenu table th{
 	height:0;
 }
.quickMenu table th .extendHeight{
    height: 90%;
    width:100%;
}
.quickMenu table th img{
	height:100%;
	width:100%;
}
.quickMenu table th a{
	text-decoration: none;
}
.quickMenu table th span{
    height:10%;
}  