body {
 margin:0px;
 padding: 0px;
 background-color: #E6E6E6;
}
header .top{
	background-color: ghostwhite;
	position: relative;
	left: 0;
	padding: 0;
	width: 100%;
	height: 20px;
	padding-top: 7px;
}
header .top span{
	font-size: 12px;
	line-height: 20px;
	color: black;
}
header .top_bar{
	display: inline;
}
header .top_bar li{
	display: inline-block;
}
header .top_bar li{
	float: right;
	padding-right: 20px;
}
header a {	text-decoration: none;}
header .category:hover{
	color: white;
}
header .category{
	border: none;
	outline: none;
}
#dataForm{ /*��� */
 align-content: center;
 margin: 500;
 padding:70px;
 width: 1200px;
 height:900px;
 background-color: white;
 border-radius: 10%;
}

#searchBtn{/*�˻� ��ư*/
border:1px solid gray;
color: white;
background-color: gray;
border-radius: 5px;  
padding: 7px 20px;
}

#listBtn{/*��� ��ư*/
border:1px solid gray;
color: white;
background-color: gray;
border-radius: 5px;  
padding: 5px 7px;
}
#year{ /*select ��*/
border:1px solid gray;
background-color: gray;
color: white;
border-radius: 5px;  
padding: 5px 10px;
}
#month{/*select ��*/
border:1px solid gray;
background-color: gray;
color: white;
border-radius: 5px;  
padding: 5px 10px;
}
#day{/*select ��*/
border:1px solid gray;
background-color: gray;
color: white;
border-radius: 5px;  
padding: 5px 10px;
}
#addTdBtn{/*�߰���ư*/
border:1px solid gray;
color: white;
background-color: gray;
border-radius: 5px;  
padding: 7px 30px;
}
#tradingStatementBtn{/*�ŷ� ���� ��ư*/
border:1px solid gray;
color: white;
background-color: gray;
border-radius: 5px;  
padding: 7px 10px;
}
#orderSaveBtn{
border:1px solid gray;
color: white;
background-color: gray;
border-radius: 5px;  
padding: 7px 10px;
}

/*--------------------------------*/

.no-write{
border-left: none;
border-right: none;
border-top: none;
border-bottom-color: #BDBDBD;
width: 180px;
font-family: "Nanum Gothic", sans-serif;
size: 30px;
}
.no-write2{ /*���ݹ̼��� text*/
border:1px solid darkgray;
background-color: darkgray;
color: white;
border-radius: 5px; 
}
input:focus {outline:none;} 

#buyerCompanyName{ /*�ŷ�ó textũ��*/
width: 160px;
}
#buyerCeo, #buyerTelNum,#buyerCompanyNum{/*��ǥ��, �����,��ȭ��ȣ textũ��*/
width: 250px;
}

#orderTotalPrice, #orderSupplyPrice, #orderTaxPrice, #notCollectMoney,#CollectMoney{
width: 250px;
}

/*======================================================*/
.BuyerInfoBox{
	width:900px;
}
.BuyerInfoBox table{
	width:100%;
}
.BuyerInfoBox table input{
	width:100%;
}
.BuyerInfoBox table tr th{
	width:100px;
}

.BuyerInfoBox table tr:nth-child(1) td:last-child{
	width:200px;
}
.BuyerInfoBox table tr:nth-child(2) td:last-child{
	width:50%;
}

/*======================================================*/
 .orderDetail{
  	border: 1px solid black;
 	width:900px;
 } 

.orderDetail table thead, .orderDetail table tfoot{
 	float:left;
 	width:899px;
 }
 .orderDetail table tbody{
 	overflow-y: auto; 
 	overflow-x:hidden; 
 	float: left; 
 	width: 900px; 
 	height:400px;
 }
 
 .orderDetail table tbody tr{
 	display:table;
	width:900px;
	height:50px;
 }
.orderDetail table input{
	border:1px solid black;
	padding:0px;
	width:100%;
}
.orderDetail .cell1,
.orderDetail .cell3,
.orderDetail .cell4,
.orderDetail .cell5,
.orderDetail .cell6,
.orderDetail .cell7{
	width:200px;
}
.orderDetail .cell2{
	width:250px;
}
.orderDetail .tf1{
	width:150px;
}
.orderDetail .tf2{
	width:300px;
}

.cell2 btton{
	margin-top:3px;
	padding:0;
	float:right;
	width:10px;
}