#CompanySendBtn{
	position:absolute;
	right:10px;
	top:10px;
}
table {
  border: 1px solid #444444;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #444444;
  padding: 10px;
}

/*======================================================*/
.BuyerInfoBox{
	width:900px;
}
.BuyerInfoBox table{
	width:100%;
}
.BuyerInfoBox table input{
	width:100%;
}
.BuyerInfoBox table tr th{
	width:100px;
}

.BuyerInfoBox table tr:nth-child(1) td:last-child{
	width:250px;
}
.BuyerInfoBox table tr:nth-child(2) td:last-child{
	width:50%;
}

/*======================================================*/
 .orderDetail{
  	border: 1px solid black;
 	width:900px;
 } 
.orderDetail table thead tr{
 	background-color:yellow;
  }
.orderDetail table thead, .orderDetail table tfoot{
 	float:left;
 	width:900px;
 }
 .orderDetail table tbody{
 	overflow-y: auto; 
 	overflow-x:hidden; 
 	float: left; 
 	width: 900px; 
 	height:400px;
 }
 
 .orderDetail table tbody tr{
 	display:table;
	width:900px;
	height:50px;
 }
.orderDetail table input{
	border:1px solid black;
	padding:0px;
	width:100%;
}
.orderDetail .cell1,
.orderDetail .cell3,
.orderDetail .cell4,
.orderDetail .cell5,
.orderDetail .cell6,
.orderDetail .cell7{
	width:100px;
}
.orderDetail .cell2{
	width:250px;
}
.orderDetail .tf1{
	width:150px;
}
.orderDetail .tf2{
	width:300px;
}

.cell2 button{
	margin-top:3px;
	padding:0;
	float:right;
	width:10px;
}
